modules = ["nodejs-22", "postgresql-16"]
# run = "npm run dev"
entrypoint = 'src/server.ts'
hidden=["package-lock.json", "tsconfig.original.json", "build"]

[nix]
channel = "stable-24_11"

# [build]
# args=["npm ci", "npm run build", "rm -rf ./node_modules", "npm ci --omit=dev", "npm run start"]

[env]
NODE_ENV = "production"

[deployment]
build=["sh", "-c", "./build.sh"]
run = "npm start"
deploymentTarget = "cloudrun"

# [run]
# args = ["sh", "-c", "npm run start"]
# args = ["npm run start"]
